{% extends "base.html" %}

{% block content %}

{% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'articles/style.css' %}">
    <script src="{% static 'articles/articles.js' %}"></script>

    <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="detail-headline">{{ article.headline }}</div>            
            <div class="byline">{{ article.byline }} | {{ article.publish_at|date:'F d, Y g:i a' }}</div>
            <div> {{ article.body|safe }}</div>
            <hr>
          </div>
          
          <div class="col-md-3">
            <hr>
            {% include "articles/stock.html" %} 
            <hr>
            <div class="detail-readmore-header">Read More</div>
            {% for article in read_more_list %}
                <div class="detail-readmore"><a href="/detail/{{ article.uuid }}">{{ article.headline }}</a></div> 
            {% endfor %}
          </div>
        </div>

        <button type="button" id="enter-comment-btn" class="btn btn-primary btn-sm" onclick="showCommentForm()">Enter Comment</button>
        
        <div id="comments-form" class="comments-form">
            <div class="row">
                <div class="col-md-6">
                    <form action="{% url 'articles:comment' article.uuid %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="comments-enter"><label for="comment_text">Enter Comment</label></div>
                            <textarea required class="form-control" id="comment_text" name="comment_text" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="comments-header">Comments</div>
        {% for comment in comment_list %}
            <div class="row">
                <div class="col-md-6">
                    <div class="comments-date"> {{ comment.comment_date|date:'m-d-Y g:i a' }}</div>
                    <div> {{ comment.comment_text }}</div>     
                    <hr>
                </div>
            </div>
        {% endfor %}
    </div> 
{% endblock content %}