{% extends "base.html" %}

{% block content %}
    <!-- Main Article -->
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-6">
          <img class="img-fluid" src="{{ main_article.images.url }}">
        </div>
        <div class="col-md-6">
            <h2>{{ main_article.headline }}</h2>
            <p><b>{{ main_article.byline }} | {{ main_article.publish_at }}</b></p>
            <p>{{ main_article.promo }}</p>
        </div>
      </div>
    </div>

    <!-- Sub Articles -->
    <div class="container">
      <div class="row">
        {% for article in sub_article_list %}
          <div class="col-md-4">
              <img class="img-fluid" src="{{ article.images.url }}">
              <h2>{{ article.headline }}</h2>
              <p>{{ article.promo }}</p>
          </div>
        {% endfor %}
      </div>

      <hr>
    </div> <!-- /container -->
{% endblock content %}